.csv.CodeMirror-code {
    display: table;
    width: 100%;
}

.csv.CodeMirror-code .CodeMirror-line {
  display: table-row-group;
}

.csv.CodeMirror-code > div:first-child .CodeMirror-line {
  display: table-header-group;
  font-weight: bold;
  font-style: italic;
}

.csv.CodeMirror-code .CodeMirror-line > span {
  display: table-row;
  /*display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;*/
}

.cm-m-csv.cm-column {
    display: table-cell;*/
    padding-right: 20px;
    min-width: 100px;
    white-space: nowrap;
    width: auto;
    /*flex-grow: 1;
    flex-shrink: 1;
    vertical-align: top;
    flex-basis: 1%;*/
}
