.csv .CodeMirror-code {
    display: table;
    width: 100%;
}

.csv .CodeMirror-code .CodeMirror-line {
  display: table-row-group;
}

.csv .CodeMirror-code > div:first-child .CodeMirror-line {
  display: table-header-group;
  font-weight: bold;
  font-style: italic;
}

.csv .CodeMirror-code .CodeMirror-line > span {
  display: table-row;
}

.cm-m-csv.cm-column {
    display: table-cell;
    padding-right: 20px;
    min-width: 50px;
    white-space: nowrap;
    margin: 2px 4px;
    border: 0.5px dashed white;
    background-color: transparent;
}

.csv .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}

.CodeMirror.csv .CodeMirror-selected {
  opacity: 0.5;
}

.dark .CodeMirror.csv .CodeMirror-selected,
.dark .CodeMirror-focused.csv .CodeMirror-selected {
  background: yellow !important;
}

.light .CodeMirror.csv .CodeMirror-selected,
.light .CodeMirror-focused.csv .CodeMirror-selected {
  background: #4f4f4f !important;
}
